.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: auto;

  @media (max-width: 525px) {
    padding-block: 72px;
    height: auto;
  }
}
